

 



<div class="@NavMenuCssClass">
    @*
       <span class="navbar-text" role="button" id="CogMod!" @onclick="ShowHelp">CogMod!</span>
    <SettingsComponent />

    <OptionsComponent />*@
    
</div>