@inject NavigationManager navigationManager

<div class="main d-flex flex-column">

    <span class="navbar-text" role="button" id="ididit">CogMod!</span>

    <Button Color="Color.Primary"  @onclick="@(async () => { DataService.Settings.ShowHelp = !DataService.Settings.ShowHelp; await DataService.SaveSettings(); })"><span class="navbar-text">Info</span></Button>

    <button class="av-link btn btn-link p-0 m-0 d-inline align-baseline shadow-none" @onclick="ToggleOptions">Settings
        <span class="fa fa-fw fa-cog"></span>
    </button>

        @if (DataService.Settings.ShowHelp==true)
        {
        <HelpComponent />   
        }
        else
        {

        
        @if (1==1)//DataService.Settings.ShowCategories)
        {
        <CategoryComponent />
        }

        <OptionsComponent />
        }

        @code
        {
    void  MyMethodAsyncX()
    {
        navigationManager.NavigateTo("/");
    }
        }
        
 @* 
        @if (State.ShowOptions==true)
        {
        <OptionsComponent />
        }
     <div class="main d-flex flex-column">




                   
          


                <div class="py-5"></div>

                <Button id="add-habit" class="btn btn-lg btn-primary rounded-circle" @onclick="@(() => { State.NewHabit(); })"><span class="fa fa-fw fa-plus"></span></Button>
      </div>
            <SelectedHabitComponent />

 *@

 </div>

