
<div class="main d-flex flex-column">
    <span class="navbar-text" role="button" id="ididit" @onclick="ShowHelp">CogMod!</span>

    <button class="navbar-toggler" @onclick="ToggleOptions">
        <span class="fa fa-fw fa-cog"></span>
    </button>

   @if (DataService.Settings.ShowHelp)
{
    <HelpComponent />
}
else if (State.ShowOptions)
{
    <OptionsComponent />
}
else
{
    <div class="main d-flex flex-column">


                <HabitComponent Pinned="true" />

                @if (DataService.Settings.ShowCategories)
                {
                    <CategoryComponent />
                }

                <HabitComponent />

                <div class="py-5"></div>

                <Button id="add-habit" class="btn btn-lg btn-primary rounded-circle" @onclick="@(() => { State.NewHabit(); })"><span class="fa fa-fw fa-plus"></span></Button>
      </div>

            <SelectedHabitComponent />
}

</div>

